*
{
 margin:0;
}
.header
{
 height:110px;
 width:100%;
 background:linear-gradient(135deg, #dc0606ca, #FFFF00) ;
}
.header1
{
 height:100px;
 width:10%;
 margin-top:5px;
 margin-left: 2%;
 margin-right: 2%;
 float:left;
}
.header2
{
 height:100px;
 width:85%;
 margin-top:10px;
 float:left;
 color:white;
}
.menu
{
 height:50px;
 width:100%;
 background:linear-gradient(135deg, #000080, #dc0606ca) ;
}
.menudiv1
{
 height:35px;
 width:20%;
 float:left;
 margin-top:7px;
 text-align:center;
 background-color:white;
 color:black;
 margin-left:5%;
}
.menudiv2
{
 height:35px;
 width:16.7%;
 float:left;
 margin-top:7px;
 text-align:center;
 color:white;
}
.menudiv3
{
 height:35px;
 width:20%;
 float:left;
 margin-top:7px;
 text-align:center;
 background-color:white;
 color:black;
}
h2
{
 margin-top:5px;
}
h3
{
 margin-top:8px;
}
a
{
 all:unset;
 cursor:pointer;
}
.menudiv2:hover
{
 background-color:red;
}
.body
{
 height:auto;
 width:100%;
 background:linear-gradient(135deg, #008080, #FFFF00 ) ;
}
.body1
{
    width: 90%;
    margin-left: 5%;
    height: auto;
}
.main
{
 height:1700px;
 width:100%;
 background-color:yellowgreen;
 opacity: 0.9;
}
.log
{
 height:400px;
 width:70%;
 background:linear-gradient(135deg, #008080, #FFFF00 ) ;
 color:white;
 margin-left:15%;
 margin-bottom: 5%;
 border:5px solid white;
 border-radius:25px;
}
.a
{
 width:80%;
 height:10%;
 margin-top:10px;
 text-align:center;
 margin-left:10%;
}
.b
{
 width:80%;
 height:10%;
 margin-top:5%;
 margin-left:10%;
}
.c
{
 width:80%;
 height:10%;
 margin-top:5%;
 margin-left:10%;
}
.d
{
 width:50%;
 height:10%;
 margin-top:5%;
 margin-left:10%;
}
.e
{
 width:80%;
 height:10%;
 margin-top:3%;
 margin-left:10%;
 text-align:center;
}
a:hover
{
 color:red;
}
.footer
{
 height:100px;
 width:100%;
 background:linear-gradient(135deg, #000000, #808080) ;
}
.footer1
{
 height:50px;
 width:60%;
 margin-left:20%;
}
.footer2
{
 height:30px;
 width:20%;
 margin-top:20px;
 text-align:center;
 color:white;
 float:left;
 cursor:pointer;
}
.footer3
{
 height:40px;
 width:60%;
 margin-left:20%;
 margin-top:10px;
 text-align:center;
 color:white;
}
@media only screen and (max-width: 700px)
{   
  .header{ width:700px;}
  .body{ width:700px; }
  .main{width: 700px;}
  .log{width: 500px;}
  .footer{width: 700px;}   
}